@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-container {
    @apply grid mx-auto gap-cell-g w-max grid-flow-dense;
    @apply grid-cols-7 w-cell-7;
    @apply c9:grid-cols-9 c9:w-cell-9;
    @apply c11:grid-cols-11 c11:w-cell-11;
    @apply c12:grid-cols-12 c12:w-cell-12;
    @apply c14:grid-cols-14 c14:w-cell-14;
  }

  .container {
    @apply mx-auto;
    @apply w-cell-7;
    @apply c9:w-cell-9;
    @apply c11:w-cell-11;
    @apply c12:w-cell-12;
    @apply c14:w-cell-14;
  }

  .footer-wave {
    @apply relative;
  }

  .footer-wave::before {
    clip-path: polygon(0 100%, 30% 0, 36% 100%, 100% 0, 100% 100%);
    content: "";
    @apply absolute block h-6 bg-white -top-6 w-full left-0;
  }

  .loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: loader 1s infinite linear alternate;
  }

  @keyframes loader {
    0% {
      box-shadow: 20px 0 #fff, -20px 0 #fff2;
      background: #fff;
    }
    33% {
      box-shadow: 20px 0 #fff, -20px 0 #fff2;
      background: #fff2;
    }
    66% {
      box-shadow: 20px 0 #fff2, -20px 0 #fff;
      background: #fff2;
    }
    100% {
      box-shadow: 20px 0 #fff2, -20px 0 #fff;
      background: #fff;
    }
  }
}

body {
  background-image: url(../assets/images/bg-diamante.svg);
  background-size: min(100vw, 100vh);
  @apply bg-green-7;
}

::-webkit-scrollbar {
  @apply w-3 h-0;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full border-4 border-transparent border-solid bg-clip-content;
  @apply hover:bg-slate-300;
}
