@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-container {
    @apply grid mx-auto gap-4 w-max grid-flow-dense;
    @apply grid-cols-7;
    @apply 9c:grid-cols-9;
    @apply 11c:grid-cols-11;
    @apply 12c:grid-cols-12;
    @apply 14c:grid-cols-14;
  }

  .container {
    @apply mx-auto;
    @apply w-[calc(94px*7+16px*6)];
    @apply 9c:w-[calc(94px*9+16px*8)];
    @apply 11c:w-[calc(94px*11+16px*10)];
    @apply 12c:w-[calc(94px*12+16px*11)];
    @apply 14c:w-[calc(94px*14+16px*13)];
  }

  .footer-wave {
    @apply relative;
  }

  .footer-wave::before {
    clip-path: polygon(0 100%, 30% 0, 36% 100%, 100% 0, 100% 100%);
    content: "";
    @apply absolute block h-6 bg-white -top-6 w-full left-0;
  }
}

body {
  background-image: url(../assets/images/bg-diamante.svg);
  background-size: min(100vw, 100vh);
  @apply bg-green-7;
}

::-webkit-scrollbar {
  @apply w-3 h-0;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full border-4 border-transparent border-solid bg-clip-content;
  @apply hover:bg-slate-300;
}

/*
// --fontBody: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans","Noto Sans Arabic",Arial,sans-serif;
// --fontTorus: "Torus","Noto Sans Arabic",sans-serif;
// --bezier: cubic-bezier(.25,.1,.25,1);
// --cellSize: 94px;
// --cellSpacing: 16px;
// --maxPageWidth: 1860px;
*/
